{% extends 'base_html.html' %}
{% load static%}

{% block head %}
    <link rel="stylesheet" href="{% static 'docentes/css/style.css' %}">  
{% endblock %}

{% block title %} Cambio de información {% endblock %}

{% block navbar%} {% endblock%}

{% block body %}


    <form class="login" method="POST">
        {% csrf_token %}


        
        <img src="{% static 'icons/logo.svg' %}" alt="logo de la empresa" onclick="window.location='{% url 'docentes:index' %}'">
        <h3>Actualizar correo</h3>
        <input type="email" name="email" placeholder="{{user.email}}">
        <h3>Actualizar nombre de usuario</h3>
        <input type="username" name="name" placeholder={{user.username}}>
        <button class="login-button" type="submit">Cambiar</button>

        {% if noUser %}
        <p style="color:red">{{noUser}}</p>

        {% endif %}  

        {% if noAcualizado %}
         <p style="color:red">{{noAcualizado}}</p>
        {% endif %}

        {% if email_no_valido %}
            <p style="color:red">{{email_no_valido}}</p>
        {% endif %}
        
        
       

    </form>
{% endblock %}