{% extends 'base_html.html' %}
{% load static%}

{% block head %}
    <link rel="stylesheet" href="{% static 'docentes/css/style.css' %}">  
{% endblock %}

{% block title %} LAPSOFT Crear planeación{% endblock %}
{% block body %}


    
    <h1 class="text-center">Crea tu planeación</h1>    


    <div class="plan-favoritos-container">
        
        

        <!--  planeacion-->
    <div class="plan-container position-relative">
        

        
        <div id="plan-info-1" class="plan-info display-flex border-radius-top">
            <img src="{% static 'icons/iconPlan.svg' %}" alt="icono de planeación" class="plan-info-icon">
            <h3>Título</h3>
            <input type="text" name="" id="plan-titulo" placeholder="Título" required>
            <h3>Tema</h3>
            <input type="text" name="" id="plan-tema" placeholder="Tema" required>
            <h3>Grado</h3>
            <input type="number" name="" id="plan-grado" placeholder="Grado" onkeypress="quitarNumeros(event)" required>
            <h3>Fecha inicio</h3>
            <input type="date" name="" id="plan-fecha-inicio" required>
            <h3>Fecha finalización</h3>
            <input type="date" name="" id="plan-fecha-fin" required>
            <h2>Actividades</h2>

            <!--Agregar actividad-->
            <div class="container-add-activitie">

                <div class="container-activitie">
                    <div class="head-activities">
                        <h3>Agregar actividad</h3>
                        <img id="btn-agregar-actividad" class="iconStar" src="{% static 'icons/iconAdd.svg' %}" alt="icono de agregar" onclick="desplegarAgregarActividad('1',this)" >
                    </div>
                    <div id="info-add-actividad-1" class="body-activities">
                            <h3>Fecha inicio</h3>
                            <input type="date" name="" id="actividad-fecha-inicio">
                            <h3>Titulo</h3>
                            <input type="text" name="" id="actividad-titulo" placeholder="Titulo">
                            <h3>Descripción</h3>
                            <input type="text" name="" id="actividad-descripcion" placeholder="Descripción">
                            
                    </div>
                    <div id="info-button-add-actividad-1" class="container-button-add-activitie display-none">
                        <input class="button-succes" type="button" name="" id="" value="Guardar actividad" onclick="guardarActividad()">
                    </div>
                </div>

            </div>

            <!-- Actividad-->
            <div id="contenedor-actividades" class="container-activities">

               

            </div>

            <div class="plan-anonimo">
                <h3>Planeación anonima</h3>
                <input type="checkbox" id="plan-anonima">
            </div>

        </div>

        <button class="plan-coment button-bottom-succes" onclick="guardarPlaneacion()">Guardar</button>


        </div>
    <!-- Fin de planeacion-->
    

    </div><!-- Fin del contenedor de la plaeacion-->

    


    


<script>
    var likeOff = '{% static 'icons/iconLike.svg' %}';
    var likeOn = '{% static 'icons/iconLikeOn.svg' %}';

    var urlAgregarPlaneacion = '';

    var urlActividad = '{% url 'api:actividades' %}';
    var urlPlaneacion ='{% url 'api:planeaciones' %}';

    var listaActividades=[];
    let dias = ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado","Domingo"];
    var contador=0;

    function quitarNumeros(e){
        if( e.charCode > 48 && e.charCode <=54){
            console.log(e.charCode)
        }else{
            e.preventDefault();
        }
        if( document.getElementById('plan-grado').value.length > 0){
            e.preventDefault();
        }
    }

    /** para mostrar un modal en la pantalla (texto= texto a mostrar duracion=duracion del modal en milisegundos)
    */
    function mostrarModalMensaje(texto,duracion){
        var b = document.getElementById('body');
        b.innerHTML+=`
        <div id="info-modal" class="plan-calification">
        <img src="{% static 'icons/iconClose.svg' %}" alt="icono de cerrar ventana" onclick="cerrarModal()">
        <h3>${texto}</h3>
        </div>`;
        setTimeout(function(){document.getElementById('info-modal').remove();},duracion);
    }

    async function agregarActividad(id_plan1,date1,titulo1,desc1){
        var data={
            id_planeacion:id_plan1,
            fecha_de_inicio:date1,
            titulo:titulo1,
            descripcion:desc1,
            finalizada:false
        };
        fetch(urlActividad,{
            method:'POST',
            body:JSON.stringify(data),
            headers:{
                'Content-Type': 'application/json',
                'Authorization':localStorage.getItem('token'),
              }
        }).then(response =>{
            if(response.ok){// si la respuesta fue ok entonces se borro correctamente    

            }else{
                console.error('error al guardar actividad');
            }
        }).catch(error => console.error(error))
    }

    /** Este metodo nos ayuda a agregar una planeacion a la base de datos
    */
    async function guardarPlaneacion(){
        var titulo = document.getElementById('plan-titulo').value;
        var tema = document.getElementById('plan-tema').value;
        var grado = document.getElementById('plan-grado').value;
        var fechaInicio = document.getElementById('plan-fecha-inicio').value;
        var fechaFin = document.getElementById('plan-fecha-fin').value;
        var anonima = document.getElementById('plan-anonima').checked;
        var data={
            id_usuario:{{user.id}},
            titulo:titulo,
            tema:tema,
            grado:grado,
            fecha_de_inicio: fechaInicio,
            fecha_de_finalizacion: fechaFin,
            anonima: anonima,
            finalizada:false
        };
        var banderaFechas;
        var banderaCamposNoVacios;
        if(fechaInicio <= fechaFin && fechaFin >= fechaInicio){
            banderaFechas = true;
        }else{
            banderaFechas = false;
        }

        if(titulo != '' && tema != '' && grado != '' && fechaInicio != '' && fechaFin != ''){
            banderaCamposNoVacios = true;
        }else{
            banderaCamposNoVacios = false;
        }
        if(banderaFechas && banderaCamposNoVacios){
            fetch(urlPlaneacion,{
                method: 'POST',
                body:JSON.stringify(data),
                headers:{
                    'Content-Type': 'application/json',
                    'Authorization':localStorage.getItem('token'),
                  }
            }).then(response=>{
                if(response.ok){
                    response.json().then(lista =>{
                        var id_planeacion = lista.id;
                        for( i in listaActividades){//recorremos todas las actividades de la lista y las agregamos a la planeacion
                            agregarActividad(id_planeacion,
                            listaActividades[i].fecha,
                            listaActividades[i].titulo,
                            listaActividades[i].descripcion);
                        }
                        document.getElementById('contenedor-actividades').innerHTML='';//vaciamos el contenedor de actividades
                        document.getElementById('plan-titulo').value='';
                        document.getElementById('plan-tema').value='';
                        document.getElementById('plan-grado').value='';
                        document.getElementById('plan-fecha-inicio').value='';
                        document.getElementById('plan-fecha-fin').value='';
                        document.getElementById('plan-anonima').checked=false;
                        mostrarModalMensaje('Planeación agregada correctamente',850);
                    });
                }
            }).catch(console.error());

        }else{
            var mensajeError='';
            console.error(banderaCamposNoVacios)
            if(banderaFechas==false){
                mensajeError+='-La fecha de inició debe ser menor o igual a la de finalización y la de finalización debe ser mayor o igual a la de inició';
            }
            if(banderaCamposNoVacios == false){
                mensajeError+='  -Faltan rellenar campos';
                console.error('ajajja')
            }
            alert(mensajeError);
        }
    }

    function guardarActividad(){
        var fecha = document.getElementById('actividad-fecha-inicio').value;
        var titulo = document.getElementById('actividad-titulo').value;
        var descripcion = document.getElementById('actividad-descripcion').value;

        var fechaInicio = document.getElementById('plan-fecha-inicio');
        var fechaFin = document.getElementById('plan-fecha-fin');

        var contenedor = document.getElementById('contenedor-actividades');
        var f= new Date(fecha);
        var actividad = {
            id:contador,
            fecha: fecha,
            titulo: titulo,
            descripcion: descripcion
        };
        
        if(fecha != '' && titulo != '' && descripcion != '' && fecha >= fechaInicio.value && fecha <= fechaFin.value){
            if(listaActividades.length == 0){// si la lista esta vacia entonces bloquemos los input de fecha inicio y fin
                fechaInicio.disabled = true;
                fechaFin.disabled = true;
            }
            listaActividades.push(actividad);
            contenedor.innerHTML+=`
        <div id="add-actividad-${contador}" class="container-activitie">
            <div class="head-activities">
                <h3>${titulo} ${dias[f.getDay()]}</h3>
                <img class="iconStar" src="{% static 'icons/iconDelete.svg' %}" alt="icono de slide" onclick="borrarActividad(${contador},this)">
                <img class="iconStar" src="{% static 'icons/iconSlide.svg' %}" alt="icono de slide" onclick="desplegarActividad(${contador},this)">

            </div>
            <div id="info-actividad-${contador}" class="body-activities">
                    <h3>Fecha inicio</h3>
                    <input type="date" name="" id="" value="${fecha}">
                    <h3>Titulo</h3>
                    <input type="text" name="" id="" placeholder="Titulo" value="${titulo}">
                    <h3>Descripción</h3>
                    <input type="text" name="" id="" placeholder="Descripción" value="${descripcion}">
            </div>
        </div>
        `;
            contador++;
            document.getElementById('actividad-fecha-inicio').value=''
            document.getElementById('actividad-titulo').value=''
            document.getElementById('actividad-descripcion').value=''
            document.getElementById('btn-agregar-actividad').click();
        }else{
            var mensajeError='';
            if(fecha == '' || titulo == '' || descripcion == ''){
                mensajeError+='Faltan rellenar campos';
            }
            if(!(fecha >= fechaInicio.value && fecha <= fechaFin.value)){
                mensajeError+=' La fecha de la actividad debe se Mayor o igual a la fecha de inicio y menor o igual a la fecha de finalización';
            }
            alert(mensajeError);
        }
    }

    function desplegarPlan(id,slide){
        var pl = document.getElementById('plan-info-'+id);
        pl.classList.toggle('display-flex');
        slide.classList.toggle('rotar')

    }

    function desplegarActividad(id,slide){
        var pl = document.getElementById('info-actividad-'+id);
        pl.classList.toggle('display-flex');
        slide.classList.toggle('rotar')

    }
    /**
    Este metodo nos ayuda a borrar una actividad de la lista del actividades 
    */
    function borrarActividad(id,slide){
        if(listaActividades.length == 1){
            var fechaInicio = document.getElementById('plan-fecha-inicio');
            var fechaFin = document.getElementById('plan-fecha-fin');
            fechaInicio.disabled = false;
            fechaFin.disabled = false;
        }
        var pl = document.getElementById('add-actividad-'+id);
        pl.remove();
        var lista2=[]
        for(a in listaActividades){
            if(listaActividades[a].id != id){// agregamos todos los datos Menos el que queremos eliminar
                lista2.push(listaActividades[a]);
            }
        }
        listaActividades =lista2;
    }

    function desplegarAgregarActividad(id,slide){
        var pl = document.getElementById('info-add-actividad-'+id);
        pl.classList.toggle('display-flex');

        var btnAdd = document.getElementById('info-button-add-actividad-'+id);
        btnAdd.classList.toggle('display-flex');        
    }
    function desplegarComentarios(id,slide){
        var pl = document.getElementById('info-coment-'+id);
        pl.classList.toggle('display-flex');

        var pl1 = document.getElementById('plan-coment-close-'+id);
        pl1.classList.toggle('display-flex');

    }
    function cerrarComentarios(id,x){
        var pl = document.getElementById('info-coment-'+id);
        pl.classList.toggle('display-flex');
        x.classList.toggle('display-flex');
    }
    function darLike(id,li){
        if(li.src.includes(likeOff)){// si el src de la imagen contiene el likeOff entonces lo invertimos
            li.src = likeOn;
        }else{
            li.src = likeOff;
        }
    }
    function calificarPlaneacion(puntaje){
        var pc = document.getElementById('plan-calification-star');
        pc.innerHTML='';
        for(var a = 1; a <= puntaje;a++){//agregamos las estrellas amarillas
            pc.innerHTML+='<img src="{% static 'icons/iconStar.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion('+a+')" >';
        }
        for(a ; a <= 5;a++){//agregamos la estrellas grises
            pc.innerHTML+='<img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion('+a+')" >';
        }
        var modal = document.getElementById('plan-calificar-modal');
        setInterval(function(){modal.remove();},790);
    }
    function cerrarModalCalificacion(){
        var modal = document.getElementById('plan-calificar-modal');
        modal.remove();
    }
    function mostrarModalCalificacion(){
        var b = document.getElementById('body');
        b.innerHTML+=`
        <div id="plan-calificar-modal" class="plan-calification">
        <img src="{% static 'icons/iconClose.svg' %}" alt="icono de cerrar ventana" onclick="cerrarModalCalificacion()">
        <h3>Calificame</h3>
        <div id="plan-calification-star" >
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(1)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(2)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(3)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(4)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(5)">
        </div>
        </div>`;
    }
</script>


{% endblock %}