{% extends 'base_html.html' %}
{% load static%}

{% block head %}
    <link rel="stylesheet" href="{% static 'docentes/css/style.css' %}">  
{% endblock %}

{% block title %} LAPSOFT Favoritos{% endblock %}
{% block body %}


    
    <h1 class="text-center">Tus Planeaciones Favoritas</h1>    


    <div id="plan-favoritos-container" class="plan-favoritos-container">
        
    

    </div>


    


<script>
    var likeOff = '{% static 'icons/iconLike.svg' %}';
    var likeOn = '{% static 'icons/iconLikeOn.svg' %}';

    //url para la api
    var urlFavorito='{% url 'api:favoritos' %}';//insertar o borrar favoritos
    var urlClonarPlaneacion='{% url 'api:clonarPlaneacion' %}';//para clonar una planeacion
    var urlActividad='{% url 'api:actividades' %}';//insertar o borrar favoritos
    var username = '{{user.username}}';


    function cerrarModal(){
        var modal = document.getElementById('info-modal');
        modal.remove();
    }
    /** para mostrar un modal en la pantalla (texto= texto a mostrar duracion=duracion del modal en milisegundos)
    */
    function mostrarModalMensaje(texto,duracion){
        var b = document.getElementById('body');
        b.innerHTML+=`
        <div id="info-modal" class="plan-calification">
        <img id="btn-info-modal" src="{% static 'icons/iconClose.svg' %}" alt="icono de cerrar ventana" onclick="cerrarModal()">
        <h3>${texto}</h3>
        </div>`;

        let id = setTimeout(function(){document.getElementById('info-modal').remove();},duracion);
       
    }
    /**
    Este metodo clona una planeacion dada por el id de la planeacion
    */
    async function clonarPlaneacion(id_plan){
        var fechaInicio = document.getElementById('plan-clon-fecha-inicio-'+id_plan).value;
        var fechaFin = document.getElementById('plan-clon-fecha-fin-'+id_plan).value;

        var banderaFechas;
        var banderaCamposNoVacios;
        if(fechaInicio <= fechaFin && fechaFin >= fechaInicio){
            banderaFechas = true;
        }else{
            banderaFechas = false;
        }

        if(fechaInicio != '' && fechaFin != ''){
            banderaCamposNoVacios = true;
        }else{
            banderaCamposNoVacios = false;
        }
        if(banderaFechas && banderaCamposNoVacios){
            document.getElementById('info-modal').remove();
            var data = {
                id:id_plan,
                fecha_de_inicio: fechaInicio,
                fecha_de_finalizacion: fechaFin
            };
            fetch(urlClonarPlaneacion,{
                method:'POST',
                body: JSON.stringify(data), // data can be `string` or {object}!
                headers:{
                'Content-Type': 'application/json',
                'Authorization':localStorage.getItem('token'),
            }
            }).then(response =>{
            if(response.ok){// la peticion fue exitosa
                mostrarModalMensaje("Clonada con exito",950);
            }else{
                throw new Error(response.status);
            }
        }).catch(error => {console.error('Error:', error);alert("Error al clonar la planeación");});
        }else{
            var mensajeError='';
            if(banderaFechas==false){// si las fechas no estan en el rango mandamos mensaje de error
                mensajeError+='-La fecha de inició debe ser menor o igual a la de finalización y la de finalización debe ser mayor o igual a la de inició';
            }
            if(banderaCamposNoVacios == false){//si los campos estan vacios mandamos error
                mensajeError+='  -Faltan rellenar campos';
            }
            alert(mensajeError);
        }
    }
    /** para mostrar un modal para la clonacion de las planeaciones
    */
    function mostrarModalClonacion(id){
        var b = document.getElementById('body');
        b.innerHTML+=`
        <div id="info-modal" class="modal-clonacion">
            <img id="btn-info-modal" src="{% static 'icons/iconClose.svg' %}" alt="icono de cerrar ventana" onclick="cerrarModal()">
            <h3>Elige el rango de fechas de la planeación</h3>
            <h4>Fecha de inicio</h4>
            <input id="plan-clon-fecha-inicio-${id}" type="date">
            <h4>Fecha de finlaización</h4>
            <input id="plan-clon-fecha-fin-${id}"  type="date">

            <button onclick="clonarPlaneacion(${id})">Clonar</button>
        </div>`;
    }
    /**
    este metodo agrega una planeacion usando el id de la planeacion
    */
    async function agregarFavorito(id,li){
        if(li.src.includes(likeOff)){// si el src de la imagen contiene el likeOff entonces lo invertimos NO TIENE LIKE
            var data = {
                id_usuario:'{{user.id}}',
                id_planeacion: String(id)
                };
            fetch(urlFavorito,{
                method: 'POST', // or 'PUT'
                body: JSON.stringify(data), // data can be `string` or {object}!
                headers:{
                  'Content-Type': 'application/json',
                  'Authorization':localStorage.getItem('token'),
                }
              }).then(response =>{
                if(response.ok){// la peticion fue exitosa
                    li.src = likeOn;// like off like amarillo
                }else{
                    throw new Error(response.status);
                }
              }).catch(error => {console.error('Error:', error);alert("Error al dar like");})
        }else{//si no tiene like entonces vamos a borrar el like
            fetch(urlFavorito+'/'+id,{
                method: 'DELETE', // or 'PUT'
                headers:{
                  'Content-Type': 'application/json',
                  'Authorization':localStorage.getItem('token'),
                }
              }).then(response =>{
                if(response.ok){// la peticion fue exitosa
                    li.src = likeOff;// like off like gris
                }else{
                    throw new Error(response.status);
                }
              }).catch(error => {console.error('Error:', error);alert("Error al quitar like");})
        }
    }

    async function desplegarPlan(id){
        var pl = document.getElementById('plan-info-'+id);
        var slide = document.getElementById('plan-slide-'+id);
        pl.classList.toggle('display-flex');
        slide.classList.toggle('rotar');
        //btn.classList.toggle('display-flex');
        
        var plan1 = document.getElementById('plan-'+id);
        //plan1.classList.toggle('border-bottom');
        
        var contAct = document.getElementById('container-activities-'+id);
        if(contAct.innerHTML == '' && slide.classList.contains('rotar')){
            //console.log('siii')
            fetch(urlActividad+'/'+id,{
                headers:{
                    'Content-Type': 'application/json',
                    'Authorization':localStorage.getItem('token'),
                  }
            }).then(response=>{
                if(response.ok){
                    response.json().then(lista=>{
                        let dias = ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado","Domingo"];
                        for(a in lista){
                            var f1= new Date(lista[a].fecha_de_inicio);

                            
                            contAct.innerHTML+=`
                            <div id="container-activitie" class="container-activitie">
                                <div class="head-activities">
                                    <h3>${lista[a].titulo} ${dias[f1.getDay()+1]}</h3>
                                    <img class="iconStar" src="{% static 'icons/iconSlide.svg' %}" alt="icono de slide" onclick="desplegarActividad(${lista[a].id},this)">
                
                                </div>
                                <div id="info-actividad-${lista[a].id}" class="body-activities">
                                        <h3>Fecha inicio</h3>
                                        <input type="date" name="" id="" value="${f1.toISOString().split('T')[0]}" readonly>
                                        <h3>Titulo</h3>
                                        <input type="text" name="" id="" placeholder="Titulo" value="${lista[a].titulo}" readonly>
                                        <h3>Descripción</h3>
                                        <textarea rows="6" cols="50" placeholder="Descripción" value="${lista[a].descripcion}" readonly></textarea>
                                </div>
                            </div>`;
                        }
                    }).catch(console.error())
                }else{
                    throw new Error(response.status);
                }
            }).catch(error => {console.error('Error:', error);alert("Error al desplegar la planeación");})
        }else{
            //console.log('esta lleno')
        }
    }


    function desplegarActividad(id,slide){
        var pl = document.getElementById('info-actividad-'+id);
        pl.classList.toggle('display-flex');
        slide.classList.toggle('rotar')

    }
    function desplegarComentarios(id,slide){
        var pl = document.getElementById('info-coment-'+id);
        pl.classList.toggle('display-flex');

        var pl1 = document.getElementById('plan-coment-close-'+id);
        pl1.classList.toggle('display-flex');

    }
    function cerrarComentarios(id,x){
        var pl = document.getElementById('info-coment-'+id);
        pl.classList.toggle('display-flex');
        x.classList.toggle('display-flex');
    }
    function darLike(id,li){
        if(li.src.includes(likeOff)){// si el src de la imagen contiene el likeOff entonces lo invertimos
            li.src = likeOn;
        }else{
            li.src = likeOff;
        }
    }
    function calificarPlaneacion(puntaje){
        var pc = document.getElementById('plan-calification-star');
        pc.innerHTML='';
        for(var a = 1; a <= puntaje;a++){//agregamos las estrellas amarillas
            pc.innerHTML+='<img src="{% static 'icons/iconStar.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion('+a+')" >';
        }
        for(a ; a <= 5;a++){//agregamos la estrellas grises
            pc.innerHTML+='<img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion('+a+')" >';
        }
        var modal = document.getElementById('plan-calificar-modal');
        setInterval(function(){modal.remove();},790);
    }
    function cerrarModalCalificacion(){
        var modal = document.getElementById('plan-calificar-modal');
        modal.remove();
    }
    function mostrarModalCalificacion(){
        var b = document.getElementById('body');
        b.innerHTML+=`
        <div id="plan-calificar-modal" class="plan-calification">
        <img src="{% static 'icons/iconClose.svg' %}" alt="icono de cerrar ventana" onclick="cerrarModalCalificacion()">
        <h3>Calificame</h3>
        <div id="plan-calification-star" >
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(1)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(2)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(3)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(4)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(5)">
        </div>
        </div>`;
    }

    /**
    Para obtener las planeaciones favoritas
    */
    async function obtenerFavoritos(){
            fetch(urlFavorito,{
                headers:{
                    'Content-Type': 'application/json',
                    'Authorization':localStorage.getItem('token'),
                  }
            }).then(response =>{
                if(response.ok){
                    response.json().then(data =>{
                        var contPlan = document.getElementById('plan-favoritos-container');
                        contPlan.innerHTML='';
                        var fav=true;
                        var favIcon='';
                        for(a in data){
                            if(fav == true){
                                favIcon = '{% static 'icons/iconLikeOn.svg' %}';
                                
                            }else{
                                favIcon = '{% static 'icons/iconLike.svg' %}';
                            }
                            
                            var f1= new Date(data[a].id_planeacion.fecha_de_inicio);
                            var f2= new Date(data[a].id_planeacion.fecha_de_finalizacion);
                            
                            
                            contPlan.innerHTML+=`
                    <!-- Inicio de la planeacion-->
                    <div id="item-plan-${data[a].id_planeacion.id}" class="item-plan">
                        <div class="plan border-bottom" >
                            <div>
                                <img src="{% static 'icons/iconUser.svg' %}" alt="imagen usuario">
                                <h3>${data[a].id_planeacion.anonima==false?data[a].id_planeacion.id_usuario.username:'Anónima'}</h3>
                            </div>
                            <div>
                                <div class="plan-star"> 
                                    <h3 class="display-none">5</h3>
                                    <img class="iconStar display-none" src="{% static 'icons/iconStar.svg' %}" alt="icono estrella" onclick="mostrarModalCalificacion()">
                                    <img title="Clonar planeación" class="iconStar" src="{% static 'icons/iconCopy.svg' %}" alt="Icono clonar planeación" {% if user.is_authenticated %} onclick="mostrarModalClonacion(${data[a].id_planeacion.id},this)" {% else %} onclick="mostrarModalMensajeRegistro('Registrate o inicia sesión para poder clonar una planeación',5500)" {% endif %}>
                                </div>
                                <img id="plan-slide-${data[a].id_planeacion.id}" class="iconStar" src="{% static 'icons/iconSlide.svg' %}" alt="icono de slide" onclick="desplegarPlan(${data[a].id_planeacion.id})">
                            </div>
                        </div>
                        <div class="plan-title" onclick="desplegarPlan(${data[a].id_planeacion.id})">
                            <h2 class="cursor-default">${data[a].id_planeacion.titulo}</h2>
                            <h3 class="cursor-default">${f1.toISOString().split('T')[0]} a ${f2.toISOString().split('T')[0]}</h3>
                        </div>
                        <div id="plan-info-${data[a].id_planeacion.id}" class="plan-info">
                            <h3>Tema</h3>
                            <input type="text" name="" id="" placeholder="Tema" value="${data[a].id_planeacion.tema}" readonly>
                            <h3>Grado</h3>
                            <input type="number" name="" id="" placeholder="Grado" value="${data[a].id_planeacion.grado}" readonly>
                            <h3>Fecha inicio</h3>
                            <input type="date" name="" id="" value="${f1.toISOString().split('T')[0]}" readonly>
                            <h3>Fecha finalización</h3>
                            <input type="date" name="" id="" value="${f2.toISOString().split('T')[0]}" readonly>
                            <h2>Actividades</h2>
                
                            <div id="container-activities-${data[a].id_planeacion.id}" class="container-activities"></div>
                
                            <h2>Observaciones</h2>
                            <input type="text" placeholder="Observaciones" value="${data[a].id_planeacion.observaciones==null?'':data[a].id_planeacion.observaciones}" readonly>
                
                        </div>
                
                        <div class="plan-coment mt2 mb2">
                            <img src="${favIcon}" alt="icono de like" onclick="agregarFavorito(${data[a].id_planeacion.id},this)" >
                            <h3 class="display-none" onclick="desplegarComentarios(${data[a].id_planeacion.id},this)">Comentarios</h3>
                            <img class="display-none" id="plan-coment-close-${data[a].id_planeacion.id}" src="{% static 'icons/iconClose.svg' %}" alt="icono de cerrar Comentarios" onclick="cerrarComentarios(${data[a].id_planeacion.id},this)">
                        </div>
                
                        <div id="info-coment-${data[a].id_planeacion.id}" class="plan-coments">
                            <div class="container-coments">
                                <div class="coment">
                                    <img src="{% static 'icons/iconUser.svg' %}" alt="icono de like">
                                    <div class="coment-message">
                                        <h3>Karen</h3>
                                        <div>Me gusto mucho ajjajajajjajajajajajjajajajjajajajajajjajajajjajajajaj</div>
                                    </div>
                
                                </div>
                
                            </div>
                            <div class="plan-coment-send">
                                <img src="{% static 'icons/logo.svg' %}" alt="icono de like">
                                <input type="text" name="" id="" placeholder="Escribe un comentario">
                                <img src="{% static 'icons/iconSend.svg' %}" alt="icono de like">
                            </div>
                        </div>
                
                        </div>
                    </div>
                    <!-- Fin de planeacion-->
                        
                        `;
                        }
                    }).catch(console.error());
                }
            });
    }//fin funcion obtener favoritos
    obtenerFavoritos();
</script>


{% endblock %}