{% extends 'base_html.html' %}
{% load static%}

{% block head %}
    <link rel="stylesheet" href="{% static 'docentes/css/style.css' %}">  
{% endblock %}

{% block title %} LAPSOFT Favoritos{% endblock %}
{% block body %}


    
    <h1 class="text-center">Tus Planeaciones Favoritas</h1>    


    <div id="plan-favoritos-container" class="plan-favoritos-container">
        
    

    </div>


    


<script>
    var likeOff = '{% static 'icons/iconLike.svg' %}';
    var likeOn = '{% static 'icons/iconLikeOn.svg' %}';

    //url para la api
    var urlObtenerFavoritos = '{% url 'api:obtenerFavoritos' %}';
    var urlObtenerActividades = '{% url 'api:obtenerActividades' 1 %}'.replace('1','');

    async function desplegarPlan(id,slide){
        var pl = document.getElementById('plan-info-'+id);
        pl.classList.toggle('display-flex');
        slide.classList.toggle('rotar');
        //btn.classList.toggle('display-flex');
        
        var plan1 = document.getElementById('plan-'+id);
        //plan1.classList.toggle('border-bottom');
        
        var contAct = document.getElementById('container-activities-'+id);
        if(contAct.innerHTML == ''){
            //console.log('siii')
            fetch(urlObtenerActividades+id,{
                headers:{
                    'Content-Type': 'application/json',
                    'Authorization':localStorage.getItem('token'),
                  }
            }).then(response=>{
                if(response.ok){
                    response.json().then(lista=>{
                        let dias = ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado","Domingo"];
                        for(a in lista){
                            var f1= new Date(lista[a].fecha_de_inicio);

                            
                            contAct.innerHTML+=`
                            <div id="container-activitie" class="container-activitie">
                                <div class="head-activities">
                                    <h3>${lista[a].titulo} ${dias[f1.getDay()+1]}</h3>
                                    <img class="iconStar" src="{% static 'icons/iconSlide.svg' %}" alt="icono de slide" onclick="desplegarActividad(${lista[a].id},this)">
                
                                </div>
                                <div id="info-actividad-${lista[a].id}" class="body-activities">
                                        <h3>Fecha inicio</h3>
                                        <input type="date" name="" id="" value="${f1.toISOString().split('T')[0]}" readonly>
                                        <h3>Titulo</h3>
                                        <input type="text" name="" id="" placeholder="Titulo" value="${lista[a].titulo}" readonly>
                                        <h3>Descripción</h3>
                                        <input type="text" name="" id="" placeholder="Descripción" value="${lista[a].descripcion}" readonly>
                                </div>
                            </div>`;
                        }
                    }).catch(console.error())
                }
            });
        }else{
            //console.log('esta lleno')
        }
    }


    function desplegarActividad(id,slide){
        var pl = document.getElementById('info-actividad-'+id);
        pl.classList.toggle('display-flex');
        slide.classList.toggle('rotar')

    }
    function desplegarComentarios(id,slide){
        var pl = document.getElementById('info-coment-'+id);
        pl.classList.toggle('display-flex');

        var pl1 = document.getElementById('plan-coment-close-'+id);
        pl1.classList.toggle('display-flex');

    }
    function cerrarComentarios(id,x){
        var pl = document.getElementById('info-coment-'+id);
        pl.classList.toggle('display-flex');
        x.classList.toggle('display-flex');
    }
    function darLike(id,li){
        if(li.src.includes(likeOff)){// si el src de la imagen contiene el likeOff entonces lo invertimos
            li.src = likeOn;
        }else{
            li.src = likeOff;
        }
    }
    function calificarPlaneacion(puntaje){
        var pc = document.getElementById('plan-calification-star');
        pc.innerHTML='';
        for(var a = 1; a <= puntaje;a++){//agregamos las estrellas amarillas
            pc.innerHTML+='<img src="{% static 'icons/iconStar.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion('+a+')" >';
        }
        for(a ; a <= 5;a++){//agregamos la estrellas grises
            pc.innerHTML+='<img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion('+a+')" >';
        }
        var modal = document.getElementById('plan-calificar-modal');
        setInterval(function(){modal.remove();},790);
    }
    function cerrarModalCalificacion(){
        var modal = document.getElementById('plan-calificar-modal');
        modal.remove();
    }
    function mostrarModalCalificacion(){
        var b = document.getElementById('body');
        b.innerHTML+=`
        <div id="plan-calificar-modal" class="plan-calification">
        <img src="{% static 'icons/iconClose.svg' %}" alt="icono de cerrar ventana" onclick="cerrarModalCalificacion()">
        <h3>Calificame</h3>
        <div id="plan-calification-star" >
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(1)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(2)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(3)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(4)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(5)">
        </div>
        </div>`;
    }

    /**
    Para obtener las planeaciones favoritas
    */
    async function obtenerFavoritos(){
            fetch(urlObtenerFavoritos,{
                headers:{
                    'Content-Type': 'application/json',
                    'Authorization':localStorage.getItem('token'),
                  }
            }).then(response =>{
                if(response.ok){
                    response.json().then(data =>{
                        var contPlan = document.getElementById('plan-favoritos-container');
                        contPlan.innerHTML='';
                        var fav=true;
                        var favIcon='';
                        for(a in data){
                            if(fav == true){
                                favIcon = '{% static 'icons/iconLikeOn.svg' %}';
                                
                            }else{
                                favIcon = '{% static 'icons/iconLike.svg' %}';
                            }
                            
                            var f1= new Date(data[a].id_planeacion.fecha_de_inicio);
                            var f2= new Date(data[a].id_planeacion.fecha_de_finalizacion);
                            
                            
                            contPlan.innerHTML+=`
                    <!-- Inicio de la planeacion-->
                    <div id="item-plan-${data[a].id_planeacion.id}" class="item-plan">
                        <div class="plan border-bottom">
                            <div>
                                <img src="{% static 'icons/iconUser.svg' %}" alt="imagen usuario">
                                <h3>${data[a].id_planeacion.anonima==false?data[a].id_usuario.username:'Anonima'}</h3>
                            </div>
                            <div>
                                <div class="plan-star">
                                    <h3 class="display-none">5</h3>
                                    <img class="iconStar display-none" src="{% static 'icons/iconStar.svg' %}" alt="icono estrella" onclick="mostrarModalCalificacion()">
                                </div>
                                <img class="iconStar" src="{% static 'icons/iconSlide.svg' %}" alt="icono de slide" onclick="desplegarPlan(${data[a].id_planeacion.id},this)">
                            </div>
                        </div>
                        <div class="plan-title">
                            <h2>${data[a].id_planeacion.titulo}</h2>
                            <h3>${f1.toISOString().split('T')[0]} a ${f2.toISOString().split('T')[0]}</h3>
                        </div>
                        <div id="plan-info-${data[a].id_planeacion.id}" class="plan-info">
                            <h3>Tema</h3>
                            <input type="text" name="" id="" placeholder="Tema" value="${data[a].id_planeacion.tema}" readonly>
                            <h3>Grado</h3>
                            <input type="number" name="" id="" placeholder="Grado" value="${data[a].id_planeacion.grado}" readonly>
                            <h3>Fecha inicio</h3>
                            <input type="date" name="" id="" value="${f1.toISOString().split('T')[0]}" readonly>
                            <h3>Fecha finalización</h3>
                            <input type="date" name="" id="" value="${f2.toISOString().split('T')[0]}" readonly>
                            <h2>Actividades</h2>
                
                            <div id="container-activities-${data[a].id_planeacion.id}" class="container-activities"></div>
                
                            <h2>Observaciones</h2>
                            <input type="text" placeholder="Observaciones" value="${data[a].id_planeacion.observaciones==null?'':data[a].id_planeacion.observaciones}" readonly>
                
                        </div>
                
                        <div class="plan-coment mt2 mb2">
                            <img src="${favIcon}" alt="icono de like" onclick="darLike(${data[a].id_planeacion.id},this)" >
                            <h3 class="display-none" onclick="desplegarComentarios(${data[a].id_planeacion.id},this)">Comentarios</h3>
                            <img class="display-none" id="plan-coment-close-${data[a].id_planeacion.id}" src="{% static 'icons/iconClose.svg' %}" alt="icono de cerrar Comentarios" onclick="cerrarComentarios(${data[a].id_planeacion.id},this)">
                        </div>
                
                        <div id="info-coment-${data[a].id_planeacion.id}" class="plan-coments">
                            <div class="container-coments">
                                <div class="coment">
                                    <img src="{% static 'icons/iconUser.svg' %}" alt="icono de like">
                                    <div class="coment-message">
                                        <h3>Karen</h3>
                                        <div>Me gusto mucho ajjajajajjajajajajajjajajajjajajajajajjajajajjajajajaj</div>
                                    </div>
                
                                </div>
                
                            </div>
                            <div class="plan-coment-send">
                                <img src="{% static 'icons/logo.svg' %}" alt="icono de like">
                                <input type="text" name="" id="" placeholder="Escribe un comentario">
                                <img src="{% static 'icons/iconSend.svg' %}" alt="icono de like">
                            </div>
                        </div>
                
                        </div>
                    </div>
                    <!-- Fin de planeacion-->
                        
                        `;
                        }
                    }).catch(console.error());
                }
            });
    }//fin funcion obtener favoritos
    obtenerFavoritos();
</script>


{% endblock %}