{% extends 'base_html.html' %}
{% load static%}

{% block head %}
    <link rel="stylesheet" href="{% static 'docentes/css/style.css' %}">  
{% endblock %}

{% block title %} LAPSOFT Login{% endblock %}

{% block navbar%} {% endblock%}

{% block body %}


    <form class="login">
        <img src="{% static 'icons/logo.svg' %}" alt="logo de la empresa" onclick="window.location='{% url 'docentes:index' %}'">
        <h3>Nueva contraseña</h3>
        <input type="text" value="1233kjnsknd" >
        <h3>Repite la nueva contraseña</h3>
        <input type="password" value="12343kdjsnkjdnsjnd3" >
        <input class="login-button" type="button" value="Guardar cambios">
        <a href="{% url 'docentes:index' %}">Regresar</a>

    </form>
{% endblock %}