{% extends 'base_html.html' %}
{% load static%}

{% block head %}
    <link rel="stylesheet" href="{% static 'docentes/css/style.css' %}">  

{% endblock %}

{% block title %} LAPSOFT {% endblock %}
{% block body %}


    

    <div class="search-container">
        <h1 class="search-title">Escribe el nombre de tu  tema</h1>
        <div class="search">
            <input id="input-buscar-planeacion" type="text" placeholder="Titulo del tema" onkeypress="enter(event)">
            <a onclick="buscarPlaneacion()">
                <img src="{% static 'icons/iconSearch.svg' %}" alt="icono buscar">
            </a>
        </div>

        <!--  Contenedor de planeacion -->
    <div id='container-plan' class="plan-search-container">

   

    </div><!--fin el contenedor de planeacion-->

    


    

<script>   

    {% if token %}
        localStorage.setItem('token','{{token}}')
    {% endif %}

    var likeOff = '{% static 'icons/iconLike.svg' %}';
    var likeOn = '{% static 'icons/iconLikeOn.svg' %}';
    var ulrObenerPlaneacion = '{% url 'api:obtenerPlaneacion' 1 %}'.replace('1','');
    var urlObtenerActividades = '{% url 'api:obtenerActividades' 1 %}'.replace('1','');
    var urlObtenerFavorito = '{% url 'api:obtenerFavoritos'  %}';
    var urlInsertarFavorito = '{% url 'api:insertarFavorito'  %}';
    var urlFavorito='{% url 'api:favoritos' %}';//insertar o borrar favoritos
    var urlClonarPlaneacion='{% url 'api:clonarPlaneacion' 1 %}'.replace('1','');//para clonar una planeacion






    function cerrarModal(){
        var modal = document.getElementById('info-modal');
        modal.remove();
    }
    /** para mostrar un modal en la pantalla (texto= texto a mostrar duracion=duracion del modal en milisegundos)
    */
    function mostrarModalMensaje(texto,duracion){
        var b = document.getElementById('body');
        b.innerHTML+=`
        <div id="info-modal" class="plan-calification">
        <img id="btn-info-modal" src="{% static 'icons/iconClose.svg' %}" alt="icono de cerrar ventana" onclick="cerrarModal()">
        <h3>${texto}</h3>
        </div>`;

        let id = setTimeout(function(){document.getElementById('info-modal').remove();},duracion);
       
    }
     /**
    Este metodo clona una planeacion dada por el id de la planeacion
    */
    async function clonarPlaneacion(id){
        document.getElementById('info-modal').remove();
        fetch(urlClonarPlaneacion+id,{
            headers:{
              'Content-Type': 'application/json',
              'Authorization':localStorage.getItem('token'),
            }
          }).then(response =>{
            if(response.ok){// la peticion fue exitosa
                mostrarModalMensaje("Clonada con exito",950);
            }
          }).catch(error => console.error('Error:', error))
    }
    /** para mostrar un modal para la clonacion de las planeaciones
    */
    function mostrarModalClonacion(id){
        var b = document.getElementById('body');
        b.innerHTML+=`
        <div id="info-modal" class="modal-clonacion">
            <img id="btn-info-modal" src="{% static 'icons/iconClose.svg' %}" alt="icono de cerrar ventana" onclick="cerrarModal()">
            <h3>¿Seguro que quieres clonar esta planeacion?</h3>
            <button onclick="clonarPlaneacion(${id})">Clonar</button>
        </div>`;
    }
    
    /**
    este metodo agrega una planeacion usando el id de la planeacion
    */
    async function agregarFavorito(id,li){
        if(li.src.includes(likeOff)){// si el src de la imagen contiene el likeOff entonces lo invertimos NO TIENE LIKE
            var data = {
                id_usuario:'{{user.id}}',
                id_planeacion: String(id)
                };
            fetch(urlFavorito,{
                method: 'POST', // or 'PUT'
                body: JSON.stringify(data), // data can be `string` or {object}!
                headers:{
                  'Content-Type': 'application/json',
                  'Authorization':localStorage.getItem('token'),
                }
              }).then(response =>{
                if(response.ok){// la peticion fue exitosa
                    li.src = likeOn;// like off like amarillo
                }
              }).catch(error => console.error('Error:', error))
        }else{//si no tiene like entonces vamos a borrar el like
            fetch(urlFavorito+'/'+id,{
                method: 'DELETE', // or 'PUT'
                headers:{
                  'Content-Type': 'application/json',
                  'Authorization':localStorage.getItem('token'),
                }
              }).then(response =>{
                if(response.ok){// la peticion fue exitosa
                    li.src = likeOff;// like off like gris
                }
              }).catch(error => console.error('Error:', error));
        }
    }
     /**
      para mostrar un modal en la pantalla que tiene un link de registro o login (texto= texto a mostrar duracion=duracion del modal en milisegundos)
     */
    function mostrarModalMensajeRegistro(texto,duracion){
        var b = document.getElementById('body');
        b.innerHTML+=`
        <div id="info-modal" class="plan-calification">
        <img id="btn-info-modal" src="{% static 'icons/iconClose.svg' %}" alt="icono de cerrar ventana" onclick="cerrarModal()">
        <h3>${texto}</h3>
        <a href="{% url 'docentes:login' %}">Iniciar sesión</a>
        <a href="{% url 'docentes:registrar_usuario' %}">Registrarme</a>
        </div>`;

        const id = setTimeout(()=>{document.getElementById('info-modal').remove();},duracion);
        
    }

   

    var fav = false;

    async function obtenerFavorito(id,item){
        return fetch('http://127.0.0.1:8000/api/obtenerFavorito/'+id).then((response1)=>{
            if(response1.ok){
                return response1.json().then((data1) =>{
                    if(data1.length != 0){// si el json esta vacio entonces no lo tenemos de favorito
                        return true;  
                    }else{
                        return false;
                    }
                }).catch(console.error());
            }
        }).catch(console.error());
    }

    async function buscarPlaneacion(){
        var busca = document.getElementById('input-buscar-planeacion').value;
        var contPlan = document.getElementById('container-plan');
        
        if( busca != ''){
            var resul = fetch(ulrObenerPlaneacion+busca,{
                headers:{
                  'Content-Type': 'application/json',
                  'Authorization':localStorage.getItem('token'),
                }
              }).then(response =>{
                if(response.ok){
                    response.json().then(data =>{
                        if(data.length == 0){
                            contPlan.innerHTML='';
                            //mostrarModalMensaje('No se enontraron planeaciones',850)
                        }
                        contPlan.innerHTML='';
                        for(a in data){
                            
                            /*obtenerFavorito(data[a].id).then((data1)=>{
                                fav = data1;
                                console.log(data1)
                            });
                            console.log(fav)*/
                            
                            var favIcon='';
                            
                            if(fav == true){
                                favIcon = '{% static 'icons/iconLikeOn.svg' %}';
                                
                            }else{
                                favIcon = '{% static 'icons/iconLike.svg' %}';
                            }
                            
                            var f1= new Date(data[a].fecha_de_inicio);
                            var f2= new Date(data[a].fecha_de_finalizacion);
                            
                            
                            contPlan.innerHTML+=`
                    <!-- Inicio de la planeacion-->
                    <div class="item-plan">
                        <div class="plan border-bottom">
                            <div>
                                <img src="{% static 'icons/iconUser.svg' %}" alt="imagen usuario">
                                <hmostrarModalMensaje('No se enontraron planeaciones',850);3>${data[a].anonima==false?data[a].id_usuario.username:'Anonima'}</h3>
                            </div>
                            <div>
                                <div class="plan-star">
                                    <h3 class="display-none">5</h3>
                                    <img class="iconStar display-none" src="{% static 'icons/iconStar.svg' %}" alt="icono estrella" onclick="mostrarModalCalificacion()">
                                    <img title="Clonar planeación" class="iconStar" src="{% static 'icons/iconCopy.svg' %}" alt="Icono clonar planeación" {% if user.is_authenticated %} onclick="mostrarModalClonacion(${data[a].id},this)" {% else %} onclick="mostrarModalMensajeRegistro('Registrate o inicia sesión para poder clonar una planeación',5500)" {% endif %}>
                                </div>
                                <img class="iconStar" src="{% static 'icons/iconSlide.svg' %}" alt="icono de slide" onclick="desplegarPlan(${data[a].id},this)">
                            </div>
                        </div>
                        <div class="plan-title">
                            <h2>${data[a].titulo}</h2>
                            <h3>${f1.getDate()+'/'+f1.getMonth()+'/'+f1.getFullYear()} a ${f2.getDate()+'/'+f2.getMonth()+'/'+f2.getFullYear()}</h3>
                        </div>
                        <div id="plan-info-${data[a].id}" class="plan-info">
                            <h3>Tema</h3>
                            <input type="text" name="" id="" placeholder="Tema" value="${data[a].tema}" readonly>
                            <h3>Grado</h3>
                            <input type="text" name="" id="" placeholder="Grado" value="${data[a].grado}" readonly>
                            <h3>Fecha inicio</h3>
                            <input type="date" name="" id="" value="${f1.toISOString().split('T')[0]}" readonly>
                            <h3>Fecha finalización</h3>
                            <input type="date" name="" id="" value="${f2.toISOString().split('T')[0]}" readonly>
                            <h2>Actividades</h2>
                
                            <div id="container-activities-${data[a].id}" class="container-activities"></div>
                
                            <h2>Observaciones</h2>
                            <input type="text" placeholder="Observaciones" value="${data[a].observaciones==null?'':data[a].observaciones}" readonly>
                
                        </div>
                
                        <div class="plan-coment mt2 mb2">
                            <img src="${favIcon}" alt="icono de like" {% if user.is_authenticated %} onclick="agregarFavorito(${data[a].id},this)" {% else %} onclick="mostrarModalMensajeRegistro('Registrate o inicia sesión para poder dar like',5500)" {% endif %} >
                            <h3 class="display-none" onclick="desplegarComentarios(${data[a].id},this)">Comentarios</h3>
                            <img class="display-none" id="plan-coment-close-${data[a].id}" src="{% static 'icons/iconClose.svg' %}" alt="icono de cerrar Comentarios" onclick="cerrarComentarios(${data[a].id},this)">
                        </div>
                
                        <div id="info-coment-${data[a].id}" class="plan-coments">
                            <div class="container-coments">
                                <div class="coment">
                                    <img src="{% static 'icons/iconUser.svg' %}" alt="icono de like">
                                    <div class="coment-message">
                                        <h3>Karen</h3>
                                        <p>Me gusto mucho ajjajajajjajajajajajjajajajjajajajajajjajajajjajajajaj</p>
                                    </div>
                
                                </div>
                
                            </div>
                            <div class="plan-coment-send">
                                <img src="{% static 'icons/logo.svg' %}" alt="icono de like">
                                <input type="text" name="" id="" placeholder="Escribe un comentario">
                                <img src="{% static 'icons/iconSend.svg' %}" alt="icono de like">
                            </div>
                        </div>
                
                        </div>
                    </div>
                    <!-- Fin de planeacion-->
                        
                        `;
                        }
                    }).catch(console.error());
                }
                else{// cuando le peticion tuvo un eror 404 lo que indica que no hay nincuna planeacion con ese titulo
                    contPlan.innerHTML='';//limpiarmos el contenedor de planeaciones
                    mostrarModalMensaje('No se enontraron planeaciones',850);
                }
            });
        }
    }

    function enter(tecla){// para cuando presionamos la tecla enter
        if (tecla.keyCode == 13) {
            buscarPlaneacion();
        }
    }

    async function desplegarPlan(id,slide){
        var pl = document.getElementById('plan-info-'+id);
        pl.classList.toggle('display-flex');
        slide.classList.toggle('rotar');

        var contAct = document.getElementById('container-activities-'+id);
        if(contAct.innerHTML.trim() == ''){
            //console.log('siii')
            fetch(urlObtenerActividades+id).then(response=>{
                //console.log(response.url)
                if(response.ok){
                    response.json().then(lista=>{
                        let dias = ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado","Domingo"];
                        for(a in lista){
                            var f1= new Date(lista[a].fecha_de_inicio);

                            
                            contAct.innerHTML+=`
                            <div  class="container-activitie">
                                <div class="head-activities">
                                    <h3>${lista[a].titulo} ${dias[f1.getDay()+1]}</h3>
                                    <img class="iconStar" src="{% static 'icons/iconSlide.svg' %}" alt="icono de slide" onclick="desplegarActividad(${lista[a].id},this)">
                
                                </div>
                                <div id="info-actividad-${lista[a].id}" class="body-activities">
                                        <h3>Fecha inicio</h3>
                                        <input type="date" name="" id="" value="${f1.toISOString().split('T')[0]}" readonly>
                                        <h3>Titulo</h3>
                                        <input type="text" name="" id="" placeholder="Titulo" value="${lista[a].titulo}" readonly>
                                        <h3>Descripción</h3>
                                        <input type="text" name="" id="" placeholder="Descripción" value="${lista[a].descripcion}" readonly>
                                </div>
                            </div>`;
                        }
                    }).catch(console.error());
                }
            });
        }else{
            //console.log('esta lleno')
        }
    }

    function desplegarActividad(id,slide){
        var pl = document.getElementById('info-actividad-'+id);
        pl.classList.toggle('display-flex');
        slide.classList.toggle('rotar');

    }
    function desplegarComentarios(id,slide){
        var pl = document.getElementById('info-coment-'+id);
        pl.classList.toggle('display-flex');

        var pl1 = document.getElementById('plan-coment-close-'+id);
        pl1.classList.toggle('display-flex');

    }
    function cerrarComentarios(id,x){
        var pl = document.getElementById('info-coment-'+id);
        pl.classList.toggle('display-flex');
        x.classList.toggle('display-flex');
    }
    function darLike(id,li){
        if(li.src.includes(likeOff)){// si el src de la imagen contiene el likeOff entonces lo invertimos
            fetch(urlInsertarFavorito+id).then(response=>{
                if(response.ok){
                    li.src = likeOn;// like ON
                }
            }).catch(console.error())
        }else{
            fetch(urlInsertarFavorito+id).then(response=>{
                if(response.ok){
                    li.src = likeOff;// like OFF
                }
            }).catch(console.error());
        }
    }
    function calificarPlaneacion(puntaje){
        var pc = document.getElementById('plan-calification-star');
        pc.innerHTML='';
        for(var a = 1; a <= puntaje;a++){//agregamos las estrellas amarillas
            pc.innerHTML+='<img src="{% static 'icons/iconStar.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion('+a+')" >';
        }
        for(a ; a <= 5;a++){//agregamos la estrellas grises
            pc.innerHTML+='<img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion('+a+')" >';
        }
        var modal = document.getElementById('plan-calificar-modal');
        setTimeout(function(){modal.remove();},790);
    }
    function cerrarModalCalificacion(){
        var modal = document.getElementById('plan-calificar-modal');
        modal.remove();
    }
    function mostrarModalCalificacion(){
        var b = document.getElementById('body');
        b.innerHTML+=`
        <div id="plan-calificar-modal" class="plan-calification">
        <img src="{% static 'icons/iconClose.svg' %}" alt="icono de cerrar ventana" onclick="cerrarModalCalificacion()">
        <h3>Calificame</h3>
        <div id="plan-calification-star" >
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(1)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(2)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(3)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(4)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(5)">
        </div>
        </div>`;
    }


   

</script>


{% endblock %}