{% extends 'base_html.html' %}
{% load static%}
{% block head %}
    <link rel="stylesheet" href="{% static 'docentes/css/style.css' %}">  
{% endblock %}

{% block title %} LAPSOFT Login{% endblock %}



{% block body %}
<form class="login" action="{% url 'docentes:registrar_usuario' %}" method="POST">
    {% csrf_token %}
    <img src="{% static 'icons/logo.svg' %}" alt="logo de la empresa" onclick="window.location='{% url 'docentes:index' %}'">
    
    {% if noUser %}
            <p style="color:red">{{noUser}}</p>
    {% endif %}

    {% if password_no_valido %}
        <p style="color:red">{{password_no_valido}}</P>
    {% endif %}

    {% if email_no_valido %}
        <p style="color:red">{{email_no_valido}}</P>
    {% endif %}
    

    <h3>Nombre de usuario</h3>
    <input name="username" minlength="5" type="text" placeholder="Usuario" required>
    <h3>Correo Electrónico</h3>
    <input name="email" type="email" minlength="8" placeholder="Correo Electrónico" required>
    <h3>Contraseña</h3>
    <input name="password"  minlength="5" type="password" placeholder="Contraseña" required>
    <h3>Confirma la contraseña</h3>
    <input name="password2" type="password" minlength="5" placeholder="Confirmar contraseña" required>
    <input class="login-button" type="submit" value="Registrarme">
    <a href="{% url 'docentes:login' %}">Iniciar sesión</a>

    
    

   
</form>
{% endblock %}