{% extends 'base_html.html' %}
{% load static%}

{% block head %}
    <link rel="stylesheet" href="{% static 'docentes/css/style.css' %}">  
{% endblock %}

{% block title %} LAPSOFT Mis planeaciones {% endblock %}
{% block body %}


    
    <h1 class="text-center">Tus Planeaciones</h1>    


    <div id="contenedor-planeaciones-no-terminadas" class="plan-favoritos-container">
    </div><!-- Fin del contenedor de la plaeacion-->

    

    <h1 class="text-center">Tus planeaciones terminadas</h1>   


    <!-- Contenedor de planeaciones no realizadas-->
    <div id="contenedor-planeaciones-si-terminadas" class="plan-favoritos-container">
    </div>
    <!-- Fin Contenedor de planeaciones no realizadas-->


    


<script>
    var likeOff = '{% static 'icons/iconLike.svg' %}';
    var likeOn = '{% static 'icons/iconLikeOn.svg' %}';


    var urlActividad ='{% url 'api:actividades' %}';
    var urlPlaneacion ='{% url 'api:planeaciones' %}';

    var urlActualizarPlaneacion ='';

    function quitarNumeros(e,id){
        if( e.charCode > 48 && e.charCode <=54){
            //console.log(e.charCode)
        }else{
            e.preventDefault();
        }
        if( document.getElementById('plan-grado-'+id).value.length > 0){
            e.preventDefault();
        }
    }

    

    let dias = ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado","Domingo"];

    /** este metodo desabilita un checkbox para que no se cambie el valor del mismo */
    function desabilitar(check){
        check.checked = !check.checked;
    }

    /** para mostrar un modal en la pantalla (texto= texto a mostrar duracion=duracion del modal en milisegundos)
    */
    function mostrarModalMensaje(texto,duracion){
        var b = document.getElementById('body');
        b.innerHTML+=`
        <div id="info-modal" class="plan-calification">
        <img src="{% static 'icons/iconClose.svg' %}" alt="icono de cerrar ventana" onclick="cerrarModal()">
        <h3>${texto}</h3>
        </div>`;
        setTimeout(function(){document.getElementById('info-modal').remove();},duracion);
    }

    function desplegarPlan(id,slide){
        var pl = document.getElementById('plan-info-'+id);
        pl.classList.toggle('display-flex');
        slide.classList.toggle('rotar');

    }
    function desplegarTuPlan(id){
        var pl = document.getElementById('plan-info-'+id);
        var slide = document.getElementById('plan-slide-'+id);
        var btn = document.getElementById('plan-button-save-'+id);
        var planx = document.getElementById('plan-'+id);
        pl.classList.toggle('display-flex');
        btn.classList.toggle('display-flex');
        planx.classList.toggle('border-bottom');
        pl.classList.toggle('border-bottom');
        slide.classList.toggle('rotar');

        
        var contAct = document.getElementById('container-activities-'+id);
        if(contAct.innerHTML.trim() == '' && slide.classList.contains('rotar') ){// si la lista esta vacia y ademas el plan no esta desplegado
            //console.log('siii')
            fetch(urlActividad+'/'+id,{
                headers:{
                    'Content-Type': 'application/json',
                    'Authorization':localStorage.getItem('token'),
                  }
            }).then(response=>{
                if(response.ok){
                    response.json().then(lista=>{
                        
                        
                        for(a in lista){
                            var f1= new Date(lista[a].fecha_de_inicio);

                            
                            contAct.innerHTML+=`
                            <div id="container-activitie-${lista[a].id}" class="container-activitie">
                                <div class="head-activities">
                                    <h3 id="info-act-titulo-principal-${lista[a].id}">${lista[a].titulo} ${dias[f1.getDay()]}</h3>
                                    <img title="Borrar actividad" class="iconStar" src="{% static 'icons/iconDelete.svg' %}" alt="icono de slide" onclick="borrarActividad(${lista[a].id},this)">
                                    <img id="plan-actividad-slide-${lista[a].id}" title="Desplegar actividad" class="iconStar" src="{% static 'icons/iconSlide.svg' %}" alt="icono de slide" onclick="desplegarActividad(${lista[a].id},this)">
                                    <input id="info-act-check-${lista[a].id}" class="check-box" type="checkbox" ${lista[a].finalizada==true?'checked':'unchecked'}>
                
                                </div>
                                <div id="info-actividad-${lista[a].id}" class="body-activities">
                                        <h3>Fecha inicio</h3>
                                        <input type="date" name="" id="info-act-date-${lista[a].id}" value="${f1.toISOString().split('T')[0]}">
                                        <h3>Titulo</h3>
                                        <input type="text" name="" id="info-act-titulo-${lista[a].id}" placeholder="Titulo" value="${lista[a].titulo}" maxlength="50" required>
                                        <h3>Descripción</h3>
                                        <textarea rows="6" cols="26" id="info-act-descripcion-${lista[a].id}" placeholder="Descripción" required>${lista[a].descripcion}</textarea>
                                        <input class="button-succes margin-top" type="button" name="" value="Guardar actividad" id="" onclick="actualizarActividad(${lista[a].id},${lista[a].id_planeacion})">
                                        
                                </div>
                                
                            </div>`;
                        }
                    });
                }else{
                    throw new Error(response.status);
                }
            }).catch(error => {console.error('Error:', error);alert("Error al deplegar el plan");})
        }else{
            //console.log('esta lleno')
        }

    }
    


    function desplegarActividad(id,slide){
        var pl = document.getElementById('info-actividad-'+id);
        pl.classList.toggle('display-flex');
        slide.classList.toggle('rotar');
    }
    function desplegarAgregarActividad(id,slide){
        var pl = document.getElementById('info-add-actividad-'+id);
        pl.classList.toggle('display-flex');
       
    }
    function desplegarComentarios(id,slide){
        var pl = document.getElementById('info-coment-'+id);
        pl.classList.toggle('display-flex');

        var pl1 = document.getElementById('plan-coment-close-'+id);
        pl1.classList.toggle('display-flex');

    }
    function cerrarComentarios(id,x){
        var pl = document.getElementById('info-coment-'+id);
        pl.classList.toggle('display-flex');
        x.classList.toggle('display-flex');
    }
    function darLike(id,li){
        if(li.src.includes(likeOff)){// si el src de la imagen contiene el likeOff entonces lo invertimos
            li.src = likeOn;
        }else{
            li.src = likeOff;
        }
    }
    function calificarPlaneacion(puntaje){
        var pc = document.getElementById('plan-calification-star');
        pc.innerHTML='';
        for(var a = 1; a <= puntaje;a++){//agregamos las estrellas amarillas
            pc.innerHTML+='<img src="{% static 'icons/iconStar.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion('+a+')" >';
        }
        for(a ; a <= 5;a++){//agregamos la estrellas grises
            pc.innerHTML+='<img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion('+a+')" >';
        }
        var modal = document.getElementById('plan-calificar-modal');
        setTimeout(function(){modal.remove();},790);
    }
    function cerrarModalCalificacion(){
        var modal = document.getElementById('plan-calificar-modal');
        modal.remove();
    }
    function mostrarModalCalificacion(){
        var b = document.getElementById('body');
        b.innerHTML+=`
        <div id="plan-calificar-modal" class="plan-calification">
        <img src="{% static 'icons/iconClose.svg' %}" alt="icono de cerrar ventana" onclick="cerrarModalCalificacion()">
        <h3>Calificame</h3>
        <div id="plan-calification-star" >
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(1)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(2)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(3)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(4)">
            <img src="{% static 'icons/iconStarOff.svg' %}" alt="icono de estrella" onclick="calificarPlaneacion(5)">
        </div>
        </div>`;
    }

    //------------------------------------------------------------------------------------- Para obtener las planeaciones
    async function obtenerPlaneacionUsuario(){
        var planSi = document.getElementById('contenedor-planeaciones-si-terminadas');
        var planNo = document.getElementById('contenedor-planeaciones-no-terminadas');
        fetch(urlPlaneacion,{
            headers:{
                'Content-Type': 'application/json',
                'Authorization':localStorage.getItem('token'),
              }
        }).then(response=>{
            if(response.ok){
                response.json().then(lista=>{
                    var direccion;
                    for( a in lista){
                        if(lista[a].finalizada == true){// para mandar las planeaciones a los contenedores segun su estado (finalizada - no finalizada)
                            direccion = planSi;
                        }else{
                            direccion = planNo;
                        }
                        var f1= String(lista[a].fecha_de_inicio).split('-')
                        var f2= String(lista[a].fecha_de_finalizacion).split('-')

                        var ff1= new Date(lista[a].fecha_de_inicio);
                        var ff2= new Date(lista[a].fecha_de_finalizacion);

                        direccion.innerHTML+=`
                        <!--  planeacion-->
    <div id="contenedor-plan-${lista[a].id}" class="plan-container position-relative margin-1">

        
        
        <div id='plan-${lista[a].id}' class="plan" >
            <div class="display-colum " onclick="desplegarTuPlan(${lista[a].id})">
                <h2 class="cursor-default" id="plan-titulo1-${lista[a].id}" >${lista[a].titulo}</h2>
                <h3 class="cursor-default" id="plan-fecha1-${lista[a].id}">${f1[2]+'/'+f1[1]+'/'+f1[0]} a ${f2[2]+'/'+f2[1]+'/'+f2[0]}</h3>
            </div>
            <div>
                <div class="plan-star">
                    <img title="Borrar planeación" class="iconStar" src="{% static 'icons/iconDelete.svg' %}" alt="icono estrella" onclick="borrarPlaneacion(${lista[a].id},this)">
                </div>
                <img id="plan-slide-${lista[a].id}" title="Desplegar plan" class="iconStar" src="{% static 'icons/iconSlide.svg' %}" alt="icono de slide" onclick="desplegarTuPlan(${lista[a].id})" >
                <input id="plan-check-${lista[a].id}" class="check-box" type="checkbox" ${lista[a].finalizada==true?'checked':'unchecked'} onclick="desabilitar(this)">
            </div>
        </div>
        <div id="plan-info-${lista[a].id}" class="plan-info border-bottom">
            <h3>Título</h3>
            <input type="text" name="" id="plan-titulo-${lista[a].id}" placeholder="Título" value="${lista[a].titulo}" maxlength="60" required>
            <h3>Tema</h3>
            <input type="text" name="" id="plan-tema-${lista[a].id}" placeholder="Tema" value="${lista[a].tema}" maxlength="60" required>
            <h3>Grado</h3>
            <input type="number" name="" id="plan-grado-${lista[a].id}" placeholder="Grado" value="${lista[a].grado}" onkeypress="quitarNumeros(event,${lista[a].id})" min="1" max="6"  required>
            <h3>Fecha inicio</h3>
            <input type="date" name="" id="plan-fecha-inicio-${lista[a].id}" value="${ff1.toISOString().split('T')[0]}" readonly required>
            <h3>Fecha finalización</h3>
            <input type="date" name="" id="plan-fecha-fin-${lista[a].id}" value="${ff2.toISOString().split('T')[0]}" readonly required>
            <h2>Actividades</h2>

             <!--Agregar actividad-->
             <div class="container-add-activitie">

                <div class="container-activitie">
                    <div class="head-activities">
                        <h3>Agregar actividad</h3>
                        <img id='boton-agregar-actividad-${lista[a].id}' class="iconStar" src="{% static 'icons/iconAdd.svg' %}" alt="icono de slide" onclick="desplegarAgregarActividad(${lista[a].id},this)">
    
                    </div>
                    <div id="info-add-actividad-${lista[a].id}" class="body-activities">
                        
                            <h3>Fecha inicio</h3>
                            <input type="date" name="" id="info-add-date-${lista[a].id}" required>
                            <h3>Titulo</h3>
                            <input type="text" name="" id="info-add-titulo-${lista[a].id}" placeholder="Título" maxlength="50" required>
                            <h3>Descripción</h3>
                            <textarea rows="6" cols="28" type="text" id="info-add-descripcion-${lista[a].id}" placeholder="Descripción" required></textarea>
                            <input class="button-succes margin-top" type="button" name="" id="" value="Guardar actividad" onclick="agregarActividad(${lista[a].id})">
                    </div>
            
                </div>

            </div>

            <!-- Actividad-->
            <div id="container-activities-${lista[a].id}" class="container-activities"></div>

            <div class="plan-anonimo">
                <h3>Planeación anonima</h3>
                <input id="plan-anonima-${lista[a].id}" type="checkbox" ${lista[a].anonima==true?'checked':'unchecked'}>
            </div>

            <h2>Observaciones</h2>
            <textarea rows="6" cols="26" id="plan-observaciones-${lista[a].id}" type="text" placeholder="Observaciones">${lista[a].observaciones==null?'':lista[a].observaciones}</textarea>

            <div class="plan-anonimo">
                <h3>Finalización</h3>
                <input id="plan-finalizacion-${lista[a].id}" type="checkbox" ${lista[a].finalizada==true?'checked':'unchecked'}>
            </div>

        </div>

        <button id="plan-button-save-${lista[a].id}" class="plan-coment button-bottom-succes display-none" onclick="actualizarPlaneacion(${lista[a].id})">Guardar</button>


        </div>
    <!-- Fin de planeacion-->
                        `;
                    }
                }).catch(console.error());
            }
        });
    }

    obtenerPlaneacionUsuario();//obtenemos las planeaciones y las ponemos en la pantalla

    async function actualizarPlaneacion(id){
        var titulo = document.getElementById('plan-titulo-'+id).value;
        var tema = document.getElementById('plan-tema-'+id).value;
        var grado = document.getElementById('plan-grado-'+id).value;
        var fechaInicio = document.getElementById('plan-fecha-inicio-'+id).value;
        var fechaFin = document.getElementById('plan-fecha-fin-'+id).value;
        var anonima = document.getElementById('plan-anonima-'+id).checked;
        var observaciones = document.getElementById('plan-observaciones-'+id).value;
        var finalizacion = document.getElementById('plan-finalizacion-'+id).checked;   


        var data={
            id_usuario:{{user.id}},
            titulo: titulo,
            tema: tema,
            grado:grado,
            fecha_de_inicio: fechaInicio,
            fecha_de_finalizacion: fechaFin,
            anonima: anonima,
            observaciones: observaciones,
            finalizada: finalizacion
        }
        fetch(urlPlaneacion+'/'+id,{
            method:'PUT',
            body:JSON.stringify(data),
            headers:{
                'Content-Type': 'application/json',
                'Authorization':localStorage.getItem('token'),
              }
        }).then(response =>{
            if(response.ok){// si la respuesta fue ok entonces se borro correctamente
                document.getElementById('plan-check-'+id).checked = finalizacion;// es el check de la parte superior cambie por el valor de la parte inferior
                document.getElementById('plan-titulo1-'+id).innerHTML=titulo;
                var f1= String(fechaInicio).split('-')
                var f2= String(fechaFin).split('-')
                document.getElementById('plan-slide-'+id).click();

                //document.getElementById('plan-fecha1-'+id).innerHTML=`${f1[2]+'/'+f1[1]+'/'+f1[0] +' a '+ f2[2]+'/'+f2[1]+'/'+f2[0]}`;
                
                alert('guardado correctamente');
            }else{
                throw new Error(response.status);
            }
        }).catch(error => {console.error('Error:', error);alert("Error al actualizar la planeación");});

    }

    function borrarActividad(id,element){
        fetch(urlActividad+'/'+id,{
            method:'DELETE',
            headers:{
                'Content-Type': 'application/json',
                'Authorization':localStorage.getItem('token'),
              }
        }).then(response=>{
            if(response.ok){// si la respuesta fue ok entonces se borro correctamente
                var actividad = document.getElementById('container-activitie-'+id);
                actividad.remove();
                mostrarModalMensaje('Registro eliminado con exito',650);
            }else{
                throw new Error(response.status);
            }
        }).catch(error => {console.error('Error:', error);alert("Error al eliminar actividad");});
    }

    async function actualizarActividad(id,id_plan){
        
        var date2 = document.getElementById('info-act-date-'+id).value;
        var titulo2 = document.getElementById('info-act-titulo-'+id).value;
        var desc2 = document.getElementById('info-act-descripcion-'+id).value;
        var ch = document.getElementById('info-act-check-'+id).checked;
        var exito = false;

        var data={
            id_planeacion:id_plan,
            fecha_de_inicio:date2,
            titulo:titulo2,
            descripcion:desc2,
            finalizada:ch
        };
        var fechaInicio = document.getElementById('plan-fecha-inicio-'+id_plan).value;
        var fechaFin = document.getElementById('plan-fecha-fin-'+id_plan).value;

        var banderaFechas=false;
        var banderaCamposNoVacios=false;
        if(fechaInicio <= date2 && fechaFin >= date2){// si la fecha esta en el rango entonces ponemos en true
            banderaFechas = true;
        }
        if(titulo2 != '' && desc2!= '' && date2 !=''){
            banderaCamposNoVacios = true;
        }
        if(banderaFechas && banderaCamposNoVacios){
            fetch(urlActividad+'/'+id,{
                method: 'PUT', // or 'PUT'
                body: JSON.stringify(data), // data can be `string` or {object}!
                headers:{
                    'Content-Type': 'application/json',
                    'Authorization':localStorage.getItem('token'),
                  }
            }).then(response =>{
                if(response.ok){// si la respuesta fue ok entonces se borro correctamente
                    var tituloPrincipal = document.getElementById('info-act-titulo-principal-'+id);
                    var f1= new Date(date2);
                    tituloPrincipal.innerHTML=titulo2+' '+dias[f1.getDay()];
                    document.getElementById('plan-actividad-slide-'+id).click();
                
                    //mostrarModalMensaje('Actualizada correctamente',800);
                    alert('Actualizada correctamente');
                }else{
                    throw new Error(response.status);
                }
            }).catch(error => {console.error('Error:', error);alert("Error al actualizar");})
        }else{
            var mensajeError='';
            if(banderaFechas == false){
                mensajeError+='-La fecha de inicio de la actividad debe ser mayor o igual a la de inicio de la planeacion y menor o igual a la de finalización';
            }
            if(banderaCamposNoVacios == false){
                mensajeError+=banderaFechas==false?'\n-Falta llenar campos':'-Falta llenar campos';// si tambien va a tener el mensaje anterior entonces ponemos un salto de linea
            }
            alert(mensajeError);
        }
    }
    function agregarActividad(id_plan){
        
        var date1 = document.getElementById('info-add-date-'+id_plan).value;
        var titulo1 = document.getElementById('info-add-titulo-'+id_plan).value;
        var desc1 = document.getElementById('info-add-descripcion-'+id_plan).value;
        var data={
            id_planeacion:id_plan,
            fecha_de_inicio:date1,
            titulo:titulo1,
            descripcion:desc1,
            finalizada:false
        };
        var fechaInicio = document.getElementById('plan-fecha-inicio-'+id_plan).value;
        var fechaFin = document.getElementById('plan-fecha-fin-'+id_plan).value;

        var banderaFechas=false;
        var banderaCamposNoVacios=false;
        if(fechaInicio <= date1 && fechaFin >= date1){// si la fecha esta en el rango entonces ponemos en true
            banderaFechas = true;
        }
        if(titulo1 != '' && desc1!= '' && date1 !=''){
            banderaCamposNoVacios = true;
        }
        if(banderaFechas && banderaCamposNoVacios){
            fetch(urlActividad,{
                method: 'POST', // or 'PUT'
                body: JSON.stringify(data), // data can be `string` or {object}!
                headers:{
                    'Content-Type': 'application/json',
                    'Authorization':localStorage.getItem('token'),
                  }
            }).then(response =>{
                mostrarModalMensaje('Actividad agregada con exito',850);
                var btnOK = document.getElementById('boton-agregar-actividad-'+id_plan);
                btnOK.click()
                if(response.ok){// si la respuesta fue ok entonces se borro correctamente
                    response.json().then(lista =>{
        
                    var contenedorActividades = document.getElementById('container-activities-'+lista.id_planeacion);//contenedor de las actividades
                    var f1= new Date(date1);
                    //tituloPrincipal.innerHTML=titulo1+' '+dias[f1.getDay()];
                    contenedorActividades.innerHTML+=`
                    <div id="container-activitie-${lista.id}" class="container-activitie">
                        <div class="head-activities">
                            <h3 id="info-act-titulo-principal-${lista.id}">${lista.titulo} ${dias[f1.getDay()]}</h3>
                            <img title="Borrar actividad" class="iconStar" src="{% static 'icons/iconDelete.svg' %}" alt="icono de slide" onclick="borrarActividad(${lista.id},this)">
                            <img id="plan-actividad-slide-${lista.id}" title="Desplegar actividad" class="iconStar" src="{% static 'icons/iconSlide.svg' %}" alt="icono de slide" onclick="desplegarActividad(${lista.id},this)">
                            <input id="info-act-check-${lista.id}" class="check-box" type="checkbox" ${lista.finalizada==true?'checked':'unchecked'}>
        
                        </div>
                        <div id="info-actividad-${lista.id}" class="body-activities">
                                <h3>Fecha inicio</h3>
                                <input type="date" name="" id="info-act-date-${lista.id}" value="${f1.toISOString().split('T')[0]}">
                                <h3>Título</h3>
                                <input type="text" name="" id="info-act-titulo-${lista.id}" placeholder="Título" value="${lista.titulo}" maxlength="50" required>
                                <h3>Descripción</h3>
                                <textarea rows="6" cols="28" id="info-act-descripcion-${lista.id}" placeholder="Descripción" required>${lista.descripcion}</textarea>
                                <input class="button-succes margin-top" type="button" name="" id="" value="Guardar actividad" onclick="actualizarActividad(${lista.id},${lista.id_planeacion})">
                        </div>
                        
                    </div>`;
    
                    }).catch(console.error());
                    
                }else{
                    mostrarModalMensaje('Error al guardar',850);
                }
            });
        }else{
            var mensajeError='';
            if(banderaFechas == false){
                mensajeError+='-La fecha de inici de la actividad debe ser mayor o igual a la de inicio de la planeacion y menor o igual a la de finalización';
            }
            if(banderaCamposNoVacios == false){
                mensajeError+=banderaFechas==false?'\n-Falta llenar campos':'-Falta llenar campos';// si tambien va a tener el mensaje anterior entonces ponemos un salto de linea
            }
            alert(mensajeError);
        }
    }

    function borrarPlaneacion(id,element){
        fetch(urlPlaneacion+'/'+id,{
            method:'DELETE',
            headers:{
                'Content-Type': 'application/json',
                'Authorization':localStorage.getItem('token'),
              }
        }).then(response=>{
            if(response.ok){// si la respuesta fue ok entonces se borro correctamente
                var actividad = document.getElementById('contenedor-plan-'+id);
                actividad.remove();
                mostrarModalMensaje('Registro eliminado con exito',650);
            }else{
                throw new Error(response.status);
            }
        }).catch(error => {console.error('Error:', error);alert("Error al eliminar la planeación");})
    }
    
    function borrarModal(){
        document.getElementById('cerrarModal').remove();
    }
</script>


{% endblock %}