


/* estilos para el login*/
.login{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: max-content;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-color: var(--fondo2);
    border-radius: var(--redondo1);
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 19%), 0 6px 20px 0 rgb(44 41 41 / 19%);
    font-family: 'Roboto', sans-serif;
}
.login img{
    width: 130px;
    height: 130px;
    justify-self: center;
    cursor: pointer;
}
.login h3{
    font-size: var(--fuente);
    margin-bottom: 5px;
    align-self:flex-start;
}
.login input{
    border-radius: var(--redondo1);
    border-color: transparent;
    font-size: var(--fuente);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 19%), 0 6px 20px 0 rgb(44 41 41 / 19%);

    padding-left: 4%;
    padding-right: 4%;
    width: -webkit-fill-available;
    font-family: 'Roboto', sans-serif;
}
.login-button{
    background: var(--amarillo);
    width: -webkit-fill-available;
    font-size: var(--fuente);
    margin-top: 24px;
    margin-bottom: 10px;
    color:var(--tex-color-2);
}
.login a{
    color: var(--tex-color-2);
    font-family: 'Roboto', sans-serif;
}

/* fin de los estilos de login*/

/* estilos del search 'barra de busqueda */
.search{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: max-content;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: var(--redondo1);
    padding-left: 1%;
    /*box-shadow: 0 4px 8px 0 rgb(255 255 255 / 19%), 0 6px 20px 0 rgb(217 217 217 / 19%);*/
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 19%), 0 6px 20px 0 rgb(44 41 41 / 19%);
}
.search input{
    font-size: var(--fuente3);
    border-radius: 50px 0 0 50px;
    border-color: transparent;
    padding-left: 2%;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
.search a img{
    height: 45px;
}
.search a{
    background:var(--amarillo);
    border-radius: 0 50px 50px 0;
}

.search-title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.search-container{
    position: absolute;
    height: max-content;
    width: max-content;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
/* fin de estilo barra de busqueda */


.margin-1{
    margin: 1%;
}

.plan-search-container{
    position:absolute;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
/* estilo para la planeacion */
.plan-container{
    position:absolute;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 19%), 0 6px 20px 0 rgb(44 41 41 / 19%);
    border-radius: 50px;
}
.item-plan{
    border-radius: var(--redondo1);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 19%), 0 6px 20px 0 rgb(44 41 41 / 19%);
    margin: 1%;
    height: fit-content;
}

.plan{
    background: var(--fondo2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 15px;
    
}
.plan div img{
    width: 50px;
    height: 50px;
}
.plan div{
    display: flex;
    align-items: center;
}
.plan-star{
    margin-right: 10px;
}

.plan-star h3{
    font-size: var(--fuente);
    font-family: 'Roboto', sans-serif;
    margin-right: 5px;
    margin-left: 10px;
}
.plan-title{
    background:var(--fondo2);
    padding-left: 5%;
    font-family: 'Roboto', sans-serif;
}
.plan-title h2,.plan-title h3{
    margin:0;
}

.plan-coment{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: var(--white);
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 0 0 50px 50px;
}
.plan-coment h3,.plan-coment img{
    cursor:pointer;
}
.iconStar{
    width: 30px !important;
}

.plan-info{
    display:none;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1%;
    font-family: 'Roboto', sans-serif;
    background: var(--fondo2);
}
.plan-info h3,.plan-info input{
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
}
.plan-info input{
    width: auto;
    background: white;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: var(--redondo1);
    outline: none;
    font-size: var(--fuente);
    border-color: transparent;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 19%), 0 6px 20px 0 rgb(44 41 41 / 19%);
}
.plan-info h2{
    text-align: center;
}
.plan-info-icon{
    width: 130px;
    height: 130px;
    margin: auto;
}


.head-activities{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
    align-items: center;
}
.head-activities h3{
    margin-top: 2%;
    margin-bottom: 2%;
}
.body-activities{
    display: none;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
.container-activitie{
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: var(--redondo1);
    border: 1px solid black;
    align-items: center;
}
.container-add-activitie{
    margin-bottom: 5%;
}


/* comentarios */
.plan-coments{
    display: none;
    flex-direction: column;
    background: var(--fondo2);
    border-radius: 0 0 50px 50px;
    font-family: 'Roboto', sans-serif;
}
.plan-coment-send{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 2%;
}
.plan-coment-send img{
    width: 50px;
}
.plan-coment-send input{
    width: 60%;
    padding-left: 4%;
    border-radius: 10px;
    outline: none;
    font-size: var(--fuente);
    border-color: transparent;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 19%), 0 6px 20px 0 rgb(44 41 41 / 19%);
}

.coment{
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.coment img{
    width: 50px;
}
.coment div{
    
}

.coment-message{
    background:var(--white);
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 19%), 0 6px 20px 0 rgb(44 41 41 / 19%);
    width: max-content;
}
.coment-message h3{
    margin-top: 1%;
    margin-bottom: 1%;
}
.display-none{
    display: none;
}
.display-flex{
    display: flex;
}
.rotar{
    transform: rotate(180deg);
    transition-duration: 300ms;
}

.plan-calification{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    margin:auto;
    display: flex;
    flex-direction: column;
    background: var(--fondo2);
    width: fit-content;
    height: fit-content;
    border-radius: var(--redondo1);
    padding: 2%;
    font-family: 'Roboto', sans-serif;
    font-size: var(--fuente);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 19%), 0 6px 20px 0 rgb(44 41 41 / 19%);
}
.plan-calification img{
    width: 30px;
    align-self: flex-end;
}
.plan-calification h3{
    align-self:center;
}

/* fin del estilo para la planeacion */ 


/*  para el contenedor de las planeaciones favoritas */
.plan-favoritos-container{
    width: fit-content;
    font-family: 'Roboto', sans-serif;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.position-relative{
    position: relative;
}

/* fin del contenedor de las planeaciones favoritas */

.text-center{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.border-radius-top{
    border-radius: 50px 50px 0 0;
}

.container-button-add-activitie{
    width: 100%;
}


.button-succes{
    background:var(--amarillo) !important;
    color: var(--text-color-2) !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    font-size: var(--fuente);
}
.button-bottom-succes{
    background:var(--amarillo) !important;
    color: var(--text-color-2) !important;
    font-size: var(--fuente);
    width: -webkit-fill-available;
    outline: none;
    border-color: transparent;
}

.margin-bottom{
    margin-bottom: 5% !important;
}
.plan-anonimo{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.plan-anonimo input{
    font-size: var(--fuente);
    height: 18px;
    width: 18px;
    margin-top: 0;
    accent-color: var(--verde);
}
.plan-anonimo h3{
    margin-top: 0;
}
.display-colum{
    display: flex;
    flex-direction: column;
}
.display-colum h3{
    margin: 0;
}
.display-colum h2{
    margin: 0;
}
.display-block{
    display: block !important;
}
.pading-top{
    margin-top: 5%;
}


.check-box{
    font-size: var(--fuente);
    height: 20px !important;
    width: 20px !important;
    margin-top: 0;
    accent-color: var(--verde);
}

.border-bottom{
    border-radius: 50px 50px 0 0;
}

.text-user-login{
    color: red;
}