{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">

    <link rel="icon" href="{% static 'icons/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">

    <title>{% block title%} {% endblock %}</title>

    {% block head %}
    {% endblock %}
</head>
<body id="body">
    {% block navbar %}

    <nav class="nav"> 
        <div class="nav-icon">
            <img src="{% static 'icons/logo.svg' %}" alt="logo invernadero" onclick="window.location='{% url 'docentes:index' %}'">
            <a class="center-ex no-decoration text" href="{% url 'docentes:index' %}">LAPSOFT</a>
        </div>
        <div class="nav-item">
            {% if user.is_authenticated == False %}
            <a class="center-ex no-decoration text" href="{% url 'docentes:login' %}">Iniciar sesion</a>
            <a class="center-ex no-decoration text" href="{% url 'docentes:registrar_usuario' %}">Registrarse</a>
            {% else%}
            <a class="center-ex no-decoration text" href="{% url 'docentes:crearPlaneacion' %}"><img src="{% static 'icons/iconPlan.svg' %}" alt="icono planeacion">Crear</a>
            <a class="center-ex no-decoration text" href="{% url 'docentes:favoritos' %}"><img src="{% static 'icons/iconLikeDark.svg' %}" alt="icono favoritos">Favoritos</a>
            <a class="center-ex no-decoration text" href="{% url 'docentes:misPlaneaciones' %}"><img src="{% static 'icons/iconPlan.svg' %}" alt="icono planeacion">Mis planeaciónes</a>
            <a class="center-ex no-decoration text" href="{% url 'docentes:perfil' %}"><img src="{% static 'icons/iconUser.svg' %}" alt="icono usuario">{{user.username}}</a>
            <a class="center-ex no-decoration text" href="{% url 'docentes:cerrar_sesion' %}">Cerrar sesión</a>
            {% endif%}
        </div>
    </nav>

    {% endblock %}
    {% block body %}
    {% endblock %}
</body>
</html>