{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">

    <link rel="icon" href="{% static 'icons/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">

    <title>{% block title%} {% endblock %}</title>
    <style>
        .text-user::after{
            content:'{{user.username}}';
        }
    </style>


    {% block head %}
    {% endblock %}
</head>
<body id="body">
    {% block navbar %}

    <nav class="nav"> 
        <div class="nav-icon">
            <img src="{% static 'icons/logo.svg' %}" alt="logo aplicacion" onclick="window.location='{% url 'docentes:index' %}';">
            <a class="center-ex no-decoration text text-marca" href="{% url 'docentes:index' %}"></a>
        </div>
        <div class="nav-item">
            {% if user.is_authenticated == False %}
            <a class="center-ex no-decoration text" href="{% url 'docentes:login' %}">Iniciar sesion</a>
            <a class="center-ex no-decoration text" href="{% url 'docentes:registrar_usuario' %}">Registrarse</a>
            {% else%}
            <a class="item center-ex no-decoration text text-crear" href="{% url 'docentes:crearPlaneacion' %}"><img src="{% static 'icons/create.png' %}" alt="icono planeacion"></a>
            <a class="item center-ex no-decoration text text-favoritos" href="{% url 'docentes:favoritos' %}"><img src="{% static 'icons/iconLikeDark.svg' %}" alt="icono favoritos"></a>
            <a class="item center-ex no-decoration text text-mis-planeaciones" href="{% url 'docentes:misPlaneaciones' %}"><img src="{% static 'icons/iconPlan.svg' %}" alt="icono planeacion"></a>
            <a class="item center-ex no-decoration text text-user" href="{% url 'docentes:perfil' %}"><img src="{% static 'icons/iconUser.svg' %}" alt="icono usuario"></a>
            <a class="item center-ex no-decoration text cursor-pointer text-cerrar-sesion" onclick="cerrarSesion()"></a>
            {% endif%}
        </div>
    </nav>

    {% endblock %}
    {% block body %}
    {% endblock %}
    <script>
        /**
        para cerrar la sesion borrando el token de local storage y redireccionando para que se borre la sesion
        */
        function cerrarSesion(){
            localStorage.clear();//borramos los tokens del navegador
            window.location.replace('{% url 'docentes:cerrar_sesion' %}');//redireccionamos para que se cierre la sesion
        }
    </script>
</body>
</html>