/* style para los staticos globales*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root{
    --fuente:24px;
    --fuente-1:20px;
    --fuente3:35px;
    --colorError:rgb(153, 17, 17);
    --text-color:rgb(255, 255, 255);
    --text-color-2:black;
    --fondo:black;
    --succes:#0f1414;
    --redondo:3rem;
    --redondo1:50px;
    --succes2: rgb(229 213 28);
    --fondo2:#F4F4F4;
    --amarillo:#F5E129;
    --white:white;
    --gris:#D9D9D9;
    --verde:#4BDC06;
}
body,html{/*
    height:100%;
    width: 100%;*/
    background: white;
}



.nav{
    background:var(--fondo2) ;
    width: 100%;
    height: 50px;
    border-radius: var(--redondo);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-icon img{
    height: 90%;
    margin-left:5px;
    cursor:pointer;
}
.nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav-icon a{
    margin-left: 5px;
    text-decoration: none;
    color:var(--text-color2);
    font-family: 'Roboto', sans-serif;
}
.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}
.nav-item a img{
    height: 40px;
    margin-left: 5px;
}
.nav-item a{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color:var(--text-color2);
    font-family: 'Roboto', sans-serif;
}